<html>
<head>
  <title>Create New DBC Campus</title>
</head>
<body>
  <form action="/campuses" method="POST">
    <input type="text" name="campus_name" placeholder="New Campus">
    <button type="submit">Save</button>
  </form>
</body>
</html>